@import url("./css/nav.css");

body {
    margin: 0.5em;
    background-color: black;
    color: white;
}

main > * {
    padding: 1em;
}

main > h1 {
    padding-top: 0;
    margin-top: 2rem;
}

.costly {
    background-color: red;
}

dynamic-component {
    display: contents;
}

/***** PAGE ****/

:root {
    --nav-height: 50px;
    --aside-width: 200px;
    --product-background-color: #363636;
    --product-background-color--hover: #484848;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.page {
    display: grid;
    grid-template-columns: [left] var(--aside-width) [center] calc(
            100% - var(--aside-width)
        );
    grid-template-rows: [top] max(var(--nav-height), max-content) [content] 100vh;
}

nav {
    grid-column: 1 / span 2;
    grid-row: 1;
}


aside {
    grid-column: 1;
    grid-row: 2;
}
aside h2 {
    margin-top: 2rem;
}

main {
    grid-column: 2;
    grid-row: 2;
}

.product-list {
    list-style-type: none;
    /* max-height: -webkit-calc(100vh - var(--nav-height));
    max-height: -moz-calc(100vh - var(--nav-height)); */
    /* max-height: calc(100vh - var(--nav-height)); */
    height: 100vh;
    overflow-y: scroll;
    border-left: solid blue;
    border-right: solid blue;
    padding: 0;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--product-background-color);
    font-size: 0.9rem;
    padding: 0.2rem;
    margin: 0.2rem;

}

.product h3 {
    margin-top: 1px;
}

.product a {
    /* Override link styles */
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.product a:hover {
    background-color: var(--product-background-color--hover);
}

.loading {
    height: 2em;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    border-radius: 0.2em;
    filter: blur(0.5px);
    will-change: transform;
}

.loading:before {
    --gradient-start-color: #453e3e;
    --gradient-end-color: #555454;
    content: " ";
    width: 200%;
    z-index: 1;
    animation: rolling 1s linear infinite;
    min-height: 2em;
    min-width: 200px;
    display: block;
    position: absolute;
    overflow-x: hidden;
    background: repeating-linear-gradient(
        to right,
        var(--gradient-start-color),
        var(--gradient-end-color),
        var(--gradient-start-color) 33.3%
    );
}

@keyframes rolling {
    0% {
        transform: translateX(-33.3%);
    }
    100% {
        transform: translateX(0);
    }
}


.product-loading {
    opacity: 0.5;
    cursor: not-allowed;
    & a,button{
        cursor: not-allowed;
    }
}